@font-face {
    font-family: Lausanne-Regular;
    src: url("./fonts/Lausanne-Regular.otf") format("opentype");
}

body {
    width: 100vw;
    height: 100vh;
}

img.loading-01 {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    opacity:0;

    object-fit: cover;

    animation-name: loading-01;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes loading-01 {
    0% {
        width: 0;
        height: 0;
    }

    10% {
        opacity: 0;
    }

    15%,
    25% {
        width: 250px;
        height: 400px;
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

img.loading-02 {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    opacity:0;

    object-fit: cover;

    animation-name: loading-02;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes loading-02 {
    0% {
        width: 0;
        height: 0;
    }

    45% {
        opacity: 0;
    }

    50%,
    55% {
        width: 550px;
        height: 250px;
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

img.loading-03 {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    opacity:0;

    object-fit: cover;

    animation-name: loading-03;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes loading-03 {
    0% {
        width: 0;
        height: 0;
    }

    70% {
        opacity: 0;
    }

    75%,
    80% {
        width: 300px;
        height: 400px;
        opacity: 1;
    }

    85% {
        opacity: 0;
    }
}

.background {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    opacity: 0;

    background:url(./img/background.jpeg);
    background-position: center;
    background-size: cover;

    animation-name: hello-bg;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes hello-bg {
    0% {
        width: 0;
        height: 0;
    }

    75%,
    80% {
        width: 300px;
        height: 400px;
        opacity: 0;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.parent {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: black;
    color: white;

    overflow: hidden;
}

#title {
    position: relative;
    z-index: 2;

    text-align: center;

    width: 100%;

    top: 50%;

    transform: translateY(-50%);

    overflow: hidden;
}

span {
    position: relative;

    font-family: 'Lausanne-Regular', sans-serif;
    font-size: 50px;

    bottom: -100px;

    opacity: 0;

    animation-name: up;
    animation-duration: 3.0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;*/
}

span:nth-of-type(1),
span:nth-of-type(13) {
    animation-delay: 0.1s;
}

span:nth-of-type(2),
span:nth-of-type(12) {
    animation-delay: 0.2s;
}

span:nth-of-type(3),
span:nth-of-type(11) {
    animation-delay: 0.3s;
}

span:nth-of-type(4),
span:nth-of-type(10) {
    animation-delay: 0.4s;
}

span:nth-of-type(5),
span:nth-of-type(9) {
    animation-delay: 0.5s;
}

span:nth-of-type(6),
span:nth-of-type(8) {
    animation-delay: 0.6s;
}

span:nth-of-type(7) {
    animation-delay: 0.7s;
}

@keyframes up {
    0% {
        opacity: 0;
        bottom: -100px;
    }

    10% {
        opacity: 0;
    }

    20%,
    87% {
        opacity: 1;
        bottom: 0;
    }

    93% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        bottom: 100px;
    }
}

.box {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    background-color: #634e79;

    animation-name: trans-box;
    animation-duration: 3.0s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode:forwards;
    /*animation-iteration-count: infinite;*/
}

@keyframes trans-box {
    0% {
        width: 0;
        height: 0;
        background-color: #634e79;
    }

    10% {
        background-color: #634e79;
        opacity: 1;
    }

    15%,
    25% {
        width: 250px;
        height: 400px;
        background-color: #e8c99b;
        opacity: 0;
    }

    30% {
        width: 250px;
        height: 400px;
        background-color: #e8c99b;
        opacity: 1;
    }

    45% {
        background-color: #e8c99b;
        opacity: 1;
    }

    50%,
    55% {
        width: 550px;
        height: 250px;
        background-color: #e8c99b;
        opacity: 0;
    }

    60% {
        background-color: #0e5449;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    75%,
    80% {
        width: 300px;
        height: 400px;
        background-color: #0e5449;
        opacity: 0;
    }

    85% {
        background-color: #0e5449;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

/*
background:url(./img/loading-01.png);
background-position: center;
background-size: cover;
*/